@charset "UTF-8";

html {
    font-size: 100%;
}
body {
    color: #333;
    font-size: 0.875rem;
}
img {
    max-width: 100%;
}
p {
    display: inline-block;
    text-align: left;
}
.wrapper {
    max-width: 960px;
    margin: 0 auto 100px auto;
    padding: 0 4%;
    text-align: center;
}
.section-title {
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 60px;
    border-bottom: solid 1px #383e45;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-title {
    font-size: 1rem;
    margin: 10px 0;
}
#main {
    margin-bottom: 80px;
}
#main img {
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;
}
#profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 30px;
}
#background {
    margin-bottom: 80px;
}

@media screen and (max-width: 600px) {
    #main img {
        height: calc(100vh - 60px);
    }
    .content {
        flex-direction: column;
    }
    #profile img {
        margin-right: 0;
    }
}
